/* ==========================================================================
   Include variables and mixins
   ========================================================================== */
/* ==========================================================================
   Global CSS variables
   ========================================================================== */
:root {
  --qode-main-color: #DC3918;
  --qode-header-light-color: #EBEAE9;
  --qode-header-light-hover-color: #EBEAE9;
  --qode-header-dark-color: #121212;
  --qode-header-dark-hover-color: #121212;
}

/* ==========================================================================
   Typography variables
   ========================================================================== */
/* ==========================================================================
   Box variables
   ========================================================================== */
/* ==========================================================================
   Devices screen size variables
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* ==========================================================================
   Typography mixins - end
   ========================================================================== */
/* ==========================================================================
   Menu mixins - begin
   ========================================================================== */
/* ==========================================================================
   Menu mixins - end
   ========================================================================== */
/* ==========================================================================
   Layout mixins - begin
   ========================================================================== */
/* ==========================================================================
   Layout mixins - end
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - begin
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - end
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - begin
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - end
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - begin
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - end
   ========================================================================== */
/* ==========================================================================
   Helper mixins - begin
   ========================================================================== */
/* ==========================================================================
   Helper mixins - end
   ========================================================================== */
/* ==========================================================================
   Common mixins - begin
   ========================================================================== */
/* ==========================================================================
   Common mixins - end
   ========================================================================== */
/* ==========================================================================
   Animation mixins - start
   ========================================================================== */
/* ==========================================================================
   Animation mixins - end
   ========================================================================== */
body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  line-height: 1.5625em;
  font-weight: 400;
  color: #BEBEBE;
  background-color: #121212;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #EBEAE9;
  font-size: 75px;
  line-height: 1.06667em;
  margin: 20px 0;
}

@media only screen and (max-width: 1366px) {
  h1 {
    font-size: 65px;
  }
}

@media only screen and (max-width: 680px) {
  h1 {
    font-size: 55px;
  }
}

h1 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  color: #EBEAE9;
  font-size: 60px;
  line-height: 1.08333em;
  margin: 20px 0;
}

@media only screen and (max-width: 1366px) {
  h2 {
    font-size: 55px;
  }
}

@media only screen and (max-width: 680px) {
  h2 {
    font-size: 45px;
  }
}

h2 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: #EBEAE9;
  font-size: 45px;
  line-height: 1.11111em;
  margin: 20px 0;
}

@media only screen and (max-width: 680px) {
  h3 {
    font-size: 35px;
  }
}

h3 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h4 {
  font-weight: 700;
  text-transform: uppercase;
  color: #EBEAE9;
  font-size: 35px;
  line-height: 1.14286em;
  margin: 20px 0;
}

@media only screen and (max-width: 680px) {
  h4 {
    font-size: 30px;
  }
}

h4 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h5 {
  font-weight: 700;
  text-transform: uppercase;
  color: #EBEAE9;
  font-size: 25px;
  line-height: 1.2em;
  margin: 20px 0;
}

h5 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: #EBEAE9;
  font-size: 19px;
  line-height: 1.31579em;
  margin: 20px 0;
}

h6 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

a,
p a {
  color: #EBEAE9;
  text-decoration: none;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

a:focus, a:hover,
p a:focus,
p a:hover {
  color: #EBEAE9;
}

p {
  letter-spacing: 0.01em;
  margin: 10px 0;
}

blockquote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0;
  padding: 26px 0 23px 11.5%;
  font-weight: 700;
  text-transform: uppercase;
  color: #EBEAE9;
  font-size: 25px;
  line-height: 1.2em;
  position: relative;
  padding: 30px 10% 23px 130px;
  border: none;
  quotes: none;
  z-index: 1;
}

body:not([class*="firstframe-core"]) blockquote {
  padding: 30px 130px 23px 130px;
}

@media only screen and (max-width: 680px) {
  blockquote {
    padding: 30px 0 23px 60px;
  }
}

blockquote.wp-block-quote.is-large, blockquote.wp-block-quote.is-style-large {
  margin: 0;
  padding: 30px 10% 23px 130px;
}

blockquote.wp-block-pullquote {
  padding: 25px !important;
  text-align: center;
}

blockquote.wp-block-pullquote p {
  font-size: 28px !important;
  line-height: 1.6 !important;
}

blockquote.wp-block-pullquote.alignleft {
  max-width: 420px;
}

blockquote.wp-block-pullquote.alignright {
  max-width: 420px;
}

body:not([class*="firstframe-core"]) blockquote.wp-block-pullquote.has-very-dark-gray-color {
  color: #fff !important;
}

blockquote.has-text-align-right:before {
  left: auto;
  right: 0;
}

blockquote:before {
  content: '';
  position: absolute;
  background-image: url("../img/quote-first.svg");
  background-repeat: no-repeat;
  top: 50%;
  left: 52px;
  width: 32px;
  height: 35px;
  transform: translateY(-50%);
  z-index: -1;
}

@media only screen and (max-width: 680px) {
  blockquote:before {
    top: 35px;
    left: 0;
    transform: none;
  }
}

blockquote > * {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
  margin: 0;
}

blockquote p {
  margin: 0 !important;
}

blockquote:after {
  content: '';
}

blockquote cite {
  display: block;
  margin: 10px 0 0;
  font-style: normal;
  font-weight: 400 !important;
  text-align: inherit !important;
  text-transform: uppercase !important;
}
